<div class="content">
	<div class="row">
	<div class="col-md-4"></div>
		<div class="col-md-4">
			<h2 class="text-center">This is content header</h2>
			<p class="text-center">This is content text</p>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
{{outlet}}